body {
            background-color: #e4d7c3;
            font-family: Arial, sans-serif;
}
h1 {
    color: #00ff6a;
    font-size: 36px;
    text-align: center;
}
h2 {
    color: #007BFF;
    font-size: 30px;
    text-align: center;
}
.p2 {
    color: #bce91b;
    font-size: 30px;
    text-align: center;
}
